.artist-item {
    display: flex;
    flex-direction: column;
    margin: 5px;
    margin-bottom: 25px;
    align-items: flex-start;

}

.artist-item p {
    margin: 5px;
    width: 300px;
}

.artist-link {
margin: 0 auto
}

