.type-button {
    margin: 10px;
}

button.MuiButtonBase-root.MuiButton-root.MuiButton-contained {
    margin: 5px;
}

button.MuiButtonBase-root.MuiButton-root.MuiButton-contained.border  {
    margin: 10px;
    border: 2px solid green;
    outline-style: none;
};